<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jarasy.lv.api.mapper.LvAwardMapper">
  <resultMap id="BaseResultMap" type="com.jarasy.lv.api.domain.po.LvAward">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="goods" jdbcType="VARCHAR" property="goods" />
    <result column="exp" jdbcType="INTEGER" property="exp" />
    <result column="award" jdbcType="VARCHAR" property="award" />
  </resultMap>
  <sql id="Base_Column_List">
    id, open_id, goods, exp, award
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from lv_award
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from lv_award
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.jarasy.lv.api.domain.po.LvAward">
    insert into lv_award (id, open_id, goods, 
      exp, award)
    values (#{id,jdbcType=VARCHAR}, #{openId,jdbcType=VARCHAR}, #{goods,jdbcType=VARCHAR}, 
      #{exp,jdbcType=INTEGER}, #{award,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jarasy.lv.api.domain.po.LvAward">
    insert into lv_award
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="goods != null">
        goods,
      </if>
      <if test="exp != null">
        exp,
      </if>
      <if test="award != null">
        award,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="goods != null">
        #{goods,jdbcType=VARCHAR},
      </if>
      <if test="exp != null">
        #{exp,jdbcType=INTEGER},
      </if>
      <if test="award != null">
        #{award,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jarasy.lv.api.domain.po.LvAward">
    update lv_award
    <set>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="goods != null">
        goods = #{goods,jdbcType=VARCHAR},
      </if>
      <if test="exp != null">
        exp = #{exp,jdbcType=INTEGER},
      </if>
      <if test="award != null">
        award = #{award,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jarasy.lv.api.domain.po.LvAward">
    update lv_award
    set open_id = #{openId,jdbcType=VARCHAR},
      goods = #{goods,jdbcType=VARCHAR},
      exp = #{exp,jdbcType=INTEGER},
      award = #{award,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>